@model List<Fall_Protection.Data.Entities.Sensor>

<div class="card">
    <h5 class="card-header">Sensores</h5>
    @if (Model.Any())
    {
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>N Série</th>
                        <th>Status</th>
                        <th>Data Cadastro</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td><span class="fw-medium">@item.DispositivoModelo</span></td>
                            <td>@item.DispositivoNumeroSerie</td>

                            @switch (item.StatusSensor)
                            {
                                case StatusEnum.Ativo:
                                    <td><span class="badge bg-label-primary me-1">Ativo</span></td>
                                    break;

                                case StatusEnum.Pendente:
                                    <td><span class="badge bg-label-warning me-1">Pendente</span></td>
                                    break;

                                case StatusEnum.Inativo:
                                    <td><span class="badge bg-label-danger">Inativo</span></td>
                                    break;
                            }

                            <td>@item.DataCadastro.ToString("dd/MM/yyyy")</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a asp-action="Detalhes" asp-route-id="@item.SensorId" class="dropdown-item">
                                            <i class="bx bx-edit-alt me-1"></i> Editar
                                        </a>
                                        <a asp-action="Deletar" asp-route-id="@item.SensorId" class="dropdown-item">
                                            <i class="bx bx-trash me-1"></i> Excluir
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>

    }

    else
    {
        <p class="text-center">Nenhum cliente encontrado.</p>
    }

</div>